<!DOCTYPE html>
<html lang="en">
 <%-include('../../partials/admin/head.ejs')%>
<body>
            <%-include('../../partials/admin/header.ejs')%>

            <section id="mid">
                <div class="container">
                    <div class="row">
                        <%-include('../../partials/admin/left.ejs')%>
                        <div class="col-md-9">
                            <h2>Feedback Management</h2>
                            <%if(message!=='message' && message!=='ace' && message!=='dec'){%>
                            <div class="alert alert-danger"><%=message%></div>
                            <%}%>
                            <table class="table table-hover">
                                <tr>
                                    <tr>
                                        <td>Totel Testinomils: <%=testicount%></td>
                                        <td>Published Testinomils: <%=Publishedtesti%></td>
                                        <td>Unpublished Testinomils: <%=Unpublishedtesti%></td>
                                    </tr>
                                </tr>
                            </table>
                            <table class="table table-hover">
                                <tr>
                                    <th>S.No.</th>
                                    <th>IMAGE</th>
                                    <th>DECRIPACTION</th>
                                    <th>USERNAME</th>
                                    <th>POSTED DATE <br>
                                        <a href="/admin/testinomils/ace"><i class="bi bi-arrow-up"></i></a>
                                        <a href="/admin/testinomils/dec"><i class="bi bi-arrow-down"></i></a>
                                    </th>
                                    <th>STATUS</th>
                                    <th>DELETE</th>
                                </tr>
                                <%testidata.forEach((value,key)=>{%>
                                    <tr>
                                        <td><%=key+1%></td>
                                        <td><img src="/storage/<%=value.img%>" alt=""></td>
                                        <td><%=value.decs%></td>
                                        <td><%=value.user%></td>
                                        <td><%=value.postedDate%></td>
                                        <%if(value.status=='Published'){%>
                                        <td><a href="/admin/feedbackupdate/<%=value.id%>"><button class="btn btn-success"><%=value.status%></button></a></td>
                                        <%}else{%>
                                            <td><a href="/admin/feedbackupdate/<%=value.id%>"><button class="btn btn-danger"><%=value.status%></button></a></td>
                                        <%}%>
                                        <td><a href="/admin/feedbackdelete/<%=value.id%>"><p><i class="bi bi-trash"></i></p></a></td>
                                    </tr>
                               <%})%>
                               
                               <%if(!testidata.length){%>
                                <tr>
                                    <tr>
                                            <td colspan="7"><h4>No Record Found</h4></td>
                                    </tr>
                                </tr>
                               <%}%>
                            </table>
                        </div>
                    </div>
                </div>

            </section>
</body>
</html>