<!DOCTYPE html>
<html lang="en">
 <%-include('../../partials/admin/head.ejs')%>
<body>
            <%-include('../../partials/admin/header.ejs')%>

            <section id="mid">
                <div class="container">
                    <div class="row">
                        <%-include('../../partials/admin/left.ejs')%>
                        <div class="col-md-9">
                            <h2>Query Reply</h2>
                            <form action="" method="post" enctype="multipart/form-data">
                                <label for="">To</label>
                                <input type="text" name="emailto" id="" class="form-control" value="<%=data.email%>">
                                <label for="">From</label>
                                <input type="text" name="emailfrom" id="" class="form-control" value="boyfake051@gmail.com">
                                <label for="">Subject</label>
                                <input type="text" name="fsubject" id="" class="form-control" value="RE:<%=data.query%>">
                                <label for="">Body</label>
                                <textarea name="fbody" id="" class="form-control"></textarea>
                                <label for="">Attchment</label>
                                <input type="file" name="attchment" id="" class="form-control">
                                <button type="submit" class="form-control btn btn-dark mt-3">Send Email</button>
                            </form>
                        </div>
                    </div>
                </div>

            </section>
</body>
</html>