<!DOCTYPE html>
<html lang="en">
 <%-include('../../partials/admin/head.ejs')%>
<body>
            <%-include('../../partials/admin/header.ejs')%>

            <section id="mid">
                <div class="container">
                    <div class="row">
                        <%-include('../../partials/admin/left.ejs')%>
                        <div class="col-md-9">
                            <h2>Services Update</h2>
                            <form action="" method="post">
                                <label for="">Title</label>
                                <input type="text" name="stitle" id="" class="form-control" value="<%=data.title%>">
                                <label for="">Decriptions</label>
                                <input type="text" name="tdecs" id="" class="form-control" value="<%=data.decs%>">
                                <label for="">More Details</label>
                                <textarea name="smdetails" id="" class="form-control"><%=data.mdetails%></textarea>
                                <button type="submit" class="form-control btn btn-primary mt-2">Update Services</button>
                            </form>
                        </div>
                    </div>
                </div>

            </section>
</body>
</html>